<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <script type="module" crossorigin src="/admin-portal/dist/assets/index-CQN8Bm6W.js"></script>
    <link rel="stylesheet" crossorigin href="/admin-portal/dist/assets/index-DhpIo_Tf.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
